
.profileContainer {
  margin: 0 1.5em 25px;
  margin-top: 1em;
}
.profileContainer p{max-width: 350px;}
.profileContainer nav {
  margin-bottom: 1em;
  /* background-color: #ffcc00; */
}

.navIcon {
  padding: 10px;
  transform: scaleX(-1);
}

/* userCard */
.userCard {
  display: grid;
  grid-template-columns: 1.2fr 2fr 1fr;
  /* gap: 0.6em; */
}

.pictogramContainer {
  background-repeat: no-repeat;
  background-color: #FAD29C;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  margin-right: 0.9em;
}

.userCard .userInformation {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-left: 0.3em;
}

.userInformation > h2 {
  font-family: 'Nunito-bold';
  font-size: 18px;
  color: rgb(21,21,21);
  margin: 0 0em 0.5em;
}

.profileDetail {
  font-family: 'Nunito-light';
  font-size: 12px;
  margin: 0 0 6px 0;
}
.icon {
  padding-right: 6px;
}

/* message button */
.ctaMessage{
  padding: 0;
  align-self: end;
  height: 30px;
  width: 90px;

  background-color: #FCE4C3;
  color: #F17A06;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctaMessage span:first-of-type {
  margin-left: 0.8em;
}

.ctaMessage span:last-of-type {
  height: 100%;
  width: 25px;
  margin-left: auto;
  background-color: #FAD29C;
  border-radius: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Information Section */
.sectionTitle {
  font-family: 'Nunito-bold';
  font-size: 14px;
  color: #151515;
  margin-bottom: 0;
}

.sectionTitle ~ p {
  font-family: 'Nunito-light';
  font-size: 12px;
  color: #151521;
  margin: .3em 0;
}

/* Oncospecific section */
.oncospecific {
  padding-bottom: 1em;
  border-bottom: 1px solid #15151520;
}

.oncospecificInformation { 
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.oncospecificInformation span {
  font-family: 'Nunito-bold';
  font-size: 12px;
}

.oncospecificInformation p {
  font-family: 'Nunito-light';
  font-size: 12px;
  margin: 0.4em 0;
  padding-bottom: 0.2em;
  border-bottom: 1px solid rgba(114,109,97, 0.1);
}

.oncospecificInformation p:last-child {
  border-bottom: none;

}