.container {
  margin: 0 1em;
  padding: 0 0.5em;
  font-size: 14px;
}

.container p {
  color: #716c60;
}

.container ul {
  padding: 0 0 0 8px;
}

.container main li {
  padding-left: 7px;
}

.container main li::marker {
  content: url('/icons/bullet-leeg.svg');
  fill: hsl(30, 97%, 48%);
  fill: black;
}

.container header h2 {
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

.container header p {
  font-family: 'Nunito-bold';
  margin: 0 0 1em;
}

.coverImage {
  width: 100%;
  /* max-width: 440px; */
  height: 150px;
  object-fit: cover;
  border-radius: 2em 2em 0 0;
}

.container main blockquote {
  background-color: #fef5d7;
  color: #f06800;
  font-family: 'Nunito-Bold';
  font-style: italic;
  font-size: 1.2rem;
  margin: 0;
  padding: 18px 25px;
  max-width: 335px;
  border-radius: 20px;
}

.tabBar {
  margin: 20px 0 30px 0;
}

.tabBar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 100%;
  background: #F9F0C6;

  border-radius: 10px;
  overflow: hidden;
  transition: .1s;
}

.tabBar ul li {
  padding: 6px 28px;
  text-align: center;
  border-radius: 20%;
  color: #D6771E;
  text-decoration: none;
}

.tabBar ul li.active {
  font-weight: 600;
  background: #F7E7A0;
}