
.container {
  margin: 0 1.5em;
}

.titleBar {
  height: 4em;
  display: flex;
  align-items: center;
}

.titleBar > h1 {
  margin: 0 auto;
}

.titleBar > button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.titleBar > button svg {
  stroke: orange;
  stroke-width: 5px;
}

.headerImage{
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 2em 2em 0 0;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  margin-bottom: 1em;
}

.headerContainer {
  display: flex;
}

.headerContainer > h1 {
  flex-grow: 1;
  margin: 0;
}

.icon {
  width: 24px;
}

.contentTab > * {
  margin: 0;
  padding: 0;
}

.tabBar {
  background-color: hsl(47, 95%, 88%);
  display: flex;
  justify-content: center;
  border-radius: 15px;

}

.tab {
  padding: 1em 2em;
  text-align: center;
}

.activeTab {
  background-color: #ffcc00;
  border-radius: 15px;
}

.tabBar > input[type="radio"] {
  display: none;
}

.tabContent {
  max-width: 90vw;
  padding: 1em;
  margin-bottom: 15px;
  display: none;
}

.tabContent > ul {
  padding-left: 20px;
}

.active {
  display: block;
}

