.container {
  margin: 0 1em;
  padding: 0 0.5em;
  font-size: 14px;
}

.container p {
  color: hsl(42, 8%, 41%);
}

.container ul {
  padding: 0 0 0 8px;
}

.container main li {
  padding-left: 1em;
}
.container main li::marker {
  content: url('/icons/bullet-gevuld.svg');
  fill: hsl(30, 97%, 48%);
  fill: black;
  /* padding: 0; */
}

.container header h2 {
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

.container header p {
  font-family: 'Nunito-bold';
  margin: 0 0 1em;
}

.coverImage{
  width: 100%;
  /* max-width: 440px; */
  height: 150px;
  object-fit: cover;
  border-radius: 2em 2em 0 0;
}

.container main blockquote {
  background-color: hsl(47, 94%, 92%);
  color: hsl(26, 100%, 47%);
  font-family: 'Nunito-Bold';
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.6em;
  text-align:left;
  padding: 1.5em;
  border-radius: 26px;
}

.titleBar {
  height: 4em;
  display: flex;
  align-items: center;
}

.titleBar>h1 {
  margin: 0 auto;
}

.titleBar>button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.titleBar>button svg {
  stroke: hsl(30, 97%, 48%);
  stroke-width: 5px;
}

.headerContainer {
  display: flex;
}

.headerContainer>h1 {
  flex-grow: 1;
  margin: 0;
}

.svgIcon {
  width: 15px;
}

.rotate {
  transform: rotate(180deg);
}

.contentTab>* {
  margin: 0;
  padding: 0;
}

.tabBar {
  width: 300px;
  margin: 0 auto;
}

.tabBar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 100%;
  background: #F9F0C6;

  border-radius: 10px;
  overflow: hidden;
  transition: .1s;
}

.tabBar ul li {
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 20%;
  color: #D6771E;
  text-decoration: none;
}

.tabBar ul li.active {
  font-weight: bold;
  background: #F7E7A0;
}