.container {
  width: 85vw;
  margin: 0 auto;
}

.container > p {
  font-family: 'silka-bold';
  font-size: 12px;
  margin: 22px 0;
}

.tileContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.8em;
}

.tile {
  height: 128px;
  width: 158px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: start;
  justify-items: center;
  background: #F9F0C6;
  color: #f07a06;
  border-radius: 10%;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 3px 6px 0px rgba(0,0,0, 0.16);
  transition: box-shadow 200ms ease-in;
}

.tile:hover, .tile:active, .tile:focus, .tile:focus-within{
  filter: brightness(95%);
}

.themeName {
  padding-top: 5px;
  font-family: 'nunito-bold';
  font-size: 18px;
  grid-column: 2;
  grid-row: 2;
  user-select: none;
}

.backgroundImage {
  background-image: url('/icons/tegel-achtergrond.svg');
}

.tile > .pointer {
  align-self: end;
  justify-self: end;
  /* width:100%; */
  width:29px;
  height:70%;
  
  grid-column: 3;
  grid-row: 3;
  
  display: flex;
  align-items:center;
  justify-content: center;
  
  border-radius: 10px 0 0 0;
  background: #F5E7A0;
  
  font-size: 1.6rem
}