
/* topbar */
.topBar {
  margin: 0 1.5em 25px;
  border-bottom: 2px solid rgba(114, 109, 97, 0.10);
  display: flex;
}

.topBar h1 {
  font-family: 'Silka-bold';
  font-size: 26px;
  color: rgb(240, 121, 4);
  margin-bottom: 0.4em;
}

.topBar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
}

.topBar button img {
  width: 20px;
}

/* filterContainer */
.filterContainer {
  margin: 0 25px;
  height: 89.5vh;
  background-color: #3CB2FF;

}
.leadingText {
  text-transform: uppercase;
  font-family: 'silka-bold';
  font-size: 12px;
  margin: 22px 0;
}
