
.accordion {
  padding: 1em 0.5em;
}
.icon {
  cursor: pointer;
  stroke: orange;
  width: 32px;
}

.information >summary {
 
  list-style: none;
}
.information summary::-webkit-details-marker {
  display: none
}

.information summary::after {
  content: ' ►';
}
.information[open] summary:after {
  content: " ▼";
}