.container {
  display: flex;
  padding: 0 2em;
}

.container>h1 {
  flex-grow: 1;
  color: orange;
}

.icon {
  align-self: center;
  cursor: pointer;
  fill: orange;
  width: 32px;
  height: 32px;
}